
@{
    var usuario = System.Web.HttpContext.Current.Session["usuarioActual"] as Dictionary<string, string>;
}

@if (usuario != null)
{
    var nombreCompleto = usuario["nombre"] + " " + usuario["apellidos"];
    using (Html.BeginForm("Salir", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink(nombreCompleto, usuario["nombre"]+usuario["apellidos"], "usuario", routeValues: null, htmlAttributes: new { id = "usuarioLink" })
        </li>
        <li>
            @Html.ActionLink("Salir", "", "salir", routeValues: null, htmlAttributes: new { id = "salirLink" })
        </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registrar","", "registrar", routeValues: null, htmlAttributes: new { id = "registrarLink" })</li>
        <li>@Html.ActionLink("Ingresar", "","ingresar", routeValues: null, htmlAttributes: new { id = "ingresarLink" })</li>
    </ul>
}
