@model IEnumerable<Cambealo.Models.Producto>

@{
    var usuario = System.Web.HttpContext.Current.Session["usuarioActual"] as Dictionary<string, string>;
}

@if (usuario != null)
{
    var nombreCompleto = usuario["nombre"]+usuario["apellidos"];
    <h2>Productos</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.ActionLink("Editar", "editar/" + item.Id, "usuario/" + nombreCompleto + "/productos", routeValues: null, htmlAttributes: new { id = "registrarLink" }) |
                    @Html.ActionLink("Mostrar", "", "usuario/" + nombreCompleto + "/productos/" + item.Id, routeValues: null, htmlAttributes: new { id = item.Id }) |
                    @Html.ActionLink("Eliminar", "Delete", routeValues: null, htmlAttributes: new { id = item.Id })
                </td>
            </tr>
        }

    </table>
}

